<div class="card white-1">
  <div class="card-content black-text">
    <span class="card-title">
      <%= blog.title %>
    </span>
    <p>
      <%= blog.content %>
    </p>
  </div>
  <div class="card-action">
    <% if user_signed_in? && current_user.id %>
      <%= link_to 'EDIT',edit_blog_path(blog.id) %>
      <%= link_to 'DELETE',blog_path(blog.id), method: :delete %>
    <% end %>
  </div>
</div>

