<head>
  <title>Blog</title>
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>
          <% if user_signed_in? && current_user.id %>
            <%= current_user.name %>
          <% else %>
            <%= "Please Sign in" %>
          <% end %>
        </a></li>
        <li>
        <li><a href="/users/sign_in">Sign in</a></li>
        <li>
          <%= link_to 'Sign out',"/users/sign_out", method: :delete %>
        </li>
        <li><a href="/users/sign_up">Create User</a></li>
      </ul>
    </div>
  </nav>
