<!DOCTYPE html>
<html>
<%= render partial: "header" %>

  <div class="row center">
  <div class="col s1 m2"></div>
    <div class="col s12 m4 l8">
      <% @blogs.each do |blog| %>
        <%= render partial: "blog", locals: { blog: blog } %>
      <% end %>
  </div>
  </div>
  <%= paginate(@blogs) %>

      <div class="fixed-action-btn horizontal">
          <a href= "/blogs/new" class="btn-floating btn-large red">
            <i class="large material-icons">create</i>
          </a>
      </div>

<script type="text/javascript" src="./app.js"></script>
</body>
</html>
